
@using Dominio;
@model List<Vuelo>;

@{
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">Buscar Vuelos</a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Origen" aria-label="Origen">
                <input class="form-control me-2" type="search" placeholder="Destino" aria-label="Destino">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
    if (Model == null || Model.Count == 0)
    {
        <p>No se han encontrado productos</p>
    }
    else
    {


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Numero de Vuelo</th>
                    <th scope="col">Salida</th>
                    <th scope="col">Llegada</th>
                    <th scope="col">Frecuencia</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Vuelo unVuelo in Model)
                    {
                        <tr>
                            <th scope="row">@unVuelo.NumVuelo</th>
                            <td>@unVuelo.Ruta.AeropuertoSalida.Ciudad</td>
                            <td>@unVuelo.Ruta.AeropuertoLlegada.Ciudad</td>
                            @{
                                string dias = ""; 
                                foreach (Frecuencia dia in unVuelo.frecuencias)
                                {
                                    dias = dias + dia + " ";
                                }
                            }
                            <td>@dias</td>
                            <td>@Html.ActionLink("Ver detalle", "ObtenerVueloSegunNumVuelo", "Vuelo", new { numVuelo = unVuelo.NumVuelo }, new { @class = "btn btn-outline-success" })</td>
                        </tr>
                    }
                }

            </tbody>
        </table>

    }
}
