@using Dominio
@model List<Cliente>

<div class="container mt-5">
    @if (Model == null || Model.Count == 0)
    {
        <div class="alert alert-warning text-center">
            No se han encontrado clientes.
        </div>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-hover table-bordered shadow-sm rounded">
                <thead class="table-primary text-center">
                    <tr>
                        <th>Cedula</th>
                        <th>Nombre Pasajero</th>
                        <th>Tipo Cliente</th>
                        <th>Correo</th>
                        <th>Puntos o es elegible</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Cliente unCliente in Model)
                    {
                        <tr class="align-middle text-center">
                            <td>@unCliente.Cedula</td>
                            <td>@unCliente.Nombre</td>
                            <td>@unCliente.ObtenerRolUsuario()</td>
                            <td>@unCliente.Correo</td> 
                            
                            @{
                                if (unCliente.ObtenerRolUsuario()==Rol.CLIENTEOCASIONAL.ToString())
                                {
                                    ClienteOcasional unClienteOcasional = (ClienteOcasional)unCliente;
                                    if (unClienteOcasional.EsElegibleRegalo)
                                    {
                                        <td>Es Elegible de Regalo</td>
                                    }
                                    else
                                    {
                                        <td>No es Elegible de Regalo</td>
                                    }
                                }else
                                {
                                    ClientePremium unClientePremium = (ClientePremium)unCliente;
                                    <td>@unClientePremium.PuntosAcumulados</td>
                                }

                            }
                            
                            <td>@Html.ActionLink("Editar Cliente", "VerEditarCliente", "Administrador", new { cedula = unCliente.Cedula }, new { @class = "btn btn-outline-primary btn-sm w-100" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
